@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.6rem;
  --background: oklch(1.0 0.0 0);
  --foreground: oklch(0.146 0.003 58.859041299465176);
  --card: oklch(1.0 0.0 0);
  --card-foreground: oklch(0.146 0.003 58.859041299465176);
  --popover: oklch(1.0 0.0 0);
  --popover-foreground: oklch(0.146 0.003 58.859041299465176);
  --primary: oklch(0.713 0.115 55.255626132563684);
  --primary-foreground: oklch(0.963 0.014 58.16722636429256);
  --secondary: oklch(0.97 0.001 58.35153699152908);
  --secondary-foreground: oklch(0.216 0.003 58.16154362655711);
  --muted: oklch(0.97 0.001 58.35153699152908);
  --muted-foreground: oklch(0.568 0.066 56.494288331925674);
  --accent: oklch(0.91 0.017 58.09885723192246);
  --accent-foreground: oklch(0.219 0.021 56.948519819441174);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.893 0.003 58.315022608284);
  --input: oklch(0.893 0.003 58.315022608284);
  --ring: oklch(0.713 0.115 55.255626132563684);
  --chart-1: oklch(0.713 0.115 55.255626132563684);
  --chart-2: oklch(0.814 0.054 57.41330993867178);
  --chart-3: oklch(0.887 0.022 58.022155576549245);
  --chart-4: oklch(0.611 0.146 50.72676730611207);
  --chart-5: oklch(0.505 0.113 52.021733591069754);
  --sidebar: oklch(0.97 0.001 58.35153699152908);
  --sidebar-foreground: oklch(0.216 0.003 58.16154362655711);
  --sidebar-primary: oklch(0.713 0.115 55.255626132563684);
  --sidebar-primary-foreground: oklch(0.963 0.014 58.16722636429256);
  --sidebar-accent: oklch(0.91 0.017 58.09885723192246);
  --sidebar-accent-foreground: oklch(0.219 0.021 56.948519819441174);
  --sidebar-border: oklch(0.893 0.003 58.315022608284);
  --sidebar-ring: oklch(0.713 0.115 55.255626132563684);
}

.dark {
  --background: oklch(0.219 0.019 57.09609041614601);
  --foreground: oklch(0.962 0.002 58.33193996917765);
  --card: oklch(0.264 0.025 56.92911881906783);
  --card-foreground: oklch(0.962 0.002 58.33193996917765);
  --popover: oklch(0.264 0.025 56.92911881906783);
  --popover-foreground: oklch(0.962 0.002 58.33193996917765);
  --primary: oklch(0.711 0.11 55.47615722167056);
  --primary-foreground: oklch(0.963 0.013 58.17649981257798);
  --secondary: oklch(0.333 0.012 57.86869314865966);
  --secondary-foreground: oklch(0.962 0.002 58.33193996917765);
  --muted: oklch(0.333 0.012 57.86869314865966);
  --muted-foreground: oklch(0.727 0.024 57.89870397141329);
  --accent: oklch(0.506 0.063 56.30148905718996);
  --accent-foreground: oklch(0.963 0.007 58.260118683294);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --border: oklch(0.422 0.024 57.56319006814934);
  --input: oklch(0.422 0.024 57.56319006814934);
  --ring: oklch(0.711 0.11 55.47615722167056);
  --chart-1: oklch(0.711 0.11 55.47615722167056);
  --chart-2: oklch(0.783 0.088 56.5742771300931);
  --chart-3: oklch(0.855 0.062 57.31165034033379);
  --chart-4: oklch(0.585 0.106 54.44199917147941);
  --chart-5: oklch(0.482 0.071 55.712779893542454);
  --sidebar: oklch(0.348 0.037 56.73019433191621);
  --sidebar-foreground: oklch(0.962 0.002 58.33193996917765);
  --sidebar-primary: oklch(0.711 0.11 55.47615722167056);
  --sidebar-primary-foreground: oklch(0.963 0.013 58.17649981257798);
  --sidebar-accent: oklch(0.506 0.063 56.30148905718996);
  --sidebar-accent-foreground: oklch(0.963 0.007 58.260118683294);
  --sidebar-border: oklch(0.422 0.024 57.56319006814934);
  --sidebar-ring: oklch(0.711 0.11 55.47615722167056);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
